<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	>
<head>
<meta charset="utf-8" />
<title>Checkout Order</title>
</head>
<body>
	<div align="center">
		<h1>Checkout Order</h1>
		<br />
		<form action="#" th:action="@{/cart/save}" th:object="${order}"
			method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Receiver:</td>
					<td><input type="text" th:field="*{receiver}" /></td>
				</tr>
				<tr>
					<td>Address:</td>
					<td><input type="text" th:field="*{address}" /></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input type="text" th:field="*{phone}" /></td>
				</tr>
				<tr>
					<td>Payment Method:</td>
					<td>
					<select th:name="payment_method">
							<option th:each="paymentt : ${listPayments}"
								th:value="${paymentt.id}" th:text="${paymentt.name}"></option>
					</select>
					</td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>