@media screen and (max-width: 1024px) {
    #story{
        height: 480px;
    }
    .quote{
        height: 600px;
    }
    #cauquote{
        top: -180px;
        left: 150px;
    }
    #statistical {
        height: 80%;
    }
    .statistical-grid-1{
        width: 80%;
    }
    .statistical-img {
        width: 60%;
    }
    .statistical-img a{
        top: 15px;
        left: 10px;
        font-size: 90%;
    }
    #transaction {
        left: 10px;
    }
    .clients{
        width: 1024px;
    }
    .grid2-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 60px;
        row-gap: 20px;
        width: 100%;
    }
    .client-icon img{
        width: 80%;
        height: 80%;
    }
    #team{
        height: 480px;
    }
    .grid1-container{
        gap: 20px;
        width: 1024px;
    }
    .quan-photo img{
        width: 80%;
        height: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .startab{
        margin: 90px auto 100px auto;
    }
    #story {
        height: 350px;
    }
    .story-text {
        padding: 10px 30px;
    }
    body {
        font-size: 14px;
    }
    .startab h1 {
        font-size: 2em;
    }
    .quote{
        width: 100%;
        height: 350px;
    }
    #cauquote{
        font-size:100%; 
        width: 80%; 
        height: 60%; 
        top: 50px; 
        left: 70px;
    }
    .clients{
        width: 768px;
    }
    .client-icon{
        position: relative;
        left: 18px;
    }
    .grid2-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 20px;
        width: 100%;
    }
    #team{
        height: 390px;
    }
    .grid1-container{
        gap: 20px;
        width: 768px;
    }
    .quan-photo img{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 760px) {
    .slogan-grid-container:first-of-type,
    .slogan-grid-container:last-of-type {
        flex-direction: column;
    }

    .slogan-grid-container:nth-of-type(2) {
        flex-direction: column-reverse;
    }

    .slogan-grid {
        width: 100%; padding-bottom: 30px;
    }
    .slogan-img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .quote{
        width: 100%;
        height: 350px;
    }
    #cauquote{
        font-size:70%; 
        width: 80%; 
        height: 60%; 
        top: 65px; 
        left: 45px;
    }

    .tittle-h3 {
        padding-bottom: 5px;
    }
    .statistical-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid2-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px;
    }
    .clients{
        width: 425px;
    }
    .client-icon{
        width: 80%;
        height: 80%;
        position: relative;
        left: 20px;
    }
    #team{
        height: auto;
        margin-bottom: 50px;
        padding-top: 50px;
    }
    .grid1-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        gap: 20px;
        max-width: 425px;
        width: 100%;
    }
    .quan-photo img{
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 370px) {
    .startab h1 {
        font-size: 1.8em;
    }
    .startab p {
        font-size: .85em;
    }
    .quote{
        height: 370px;
    }
    #cauquote{
        font-size: 70%; 
        width: 300px; 
        height: 300px; 
        top: 35px; 
        left: 35px;
        padding-top: 70px;
    }
    .clients{
        width: 370px;
    }
    .client-icon{
        width: 80%;
        height: 80%;
        position: relative;
        left: 20px;
    }
}