html{
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.Thang-container-blog{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 15px 15px 15px 15px;
    
}
.Thang-container-blog-1{
    display: block;
    margin-right: 15px;
}
.Thang-container-blog-2{
    display: block;
    width: 360px;
    height: 600px;
    margin-left: 15px;
}
.Thang-blog-list{
    width: 750px;
    height: 660px;

    margin: auto;
}
.Thang-blog-figure{
    width: 750px;
    height: 440px;
    margin: 0 auto;
    overflow: hidden;
}
.Thang-blog-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
}
.Thang-blog-img:hover {
    transform: scale(1.1);
    Transition: 0.5s;
}
.Thang-blog-1{
    background-color: white;
    width: 695px;
    height: 300px;
    z-index: 0;
    margin: 0 auto;
    position :absolute;

}
.Thang-icon{
    margin-top: 30px;
    display: block;

}
.Thang-blog-text1{
    display: block;
    margin-bottom: 15px;
    font-size: 1%;
}

.Thang-blog-button{
    border: 2px solid black;
    font-size: 16px;
    display: block;
    padding: 10px 25px;
    width: fit-content;
    color: black;
  
}
.Thang-blog-button:hover{
    color: white;
    background: black;
    transition: 0.5s;
}
.Thang-blog-Loren{
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
}
a{
    text-decoration: none
}
.Thang-blog-search-button{
    float: right;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 16px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.Thang-blog-search-button:hover{
    background: #ffc400;
    color: black;
}
#Thang-Search-input{
    padding: 10px;
    float: left;
    width: 80%;
    background: #f1f1f1;
    border: 1px solid grey;
    font-size: 16px;
}
.Thang-p1{
    width: 360px;
    height: 45px;
    margin-bottom: 50px;
    display: block;
}
.Thang-p2{
    margin-bottom: 50px;
    display: block;
}
.Thang-p2-1{
    width: 100%;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.Thang-rcm{
    width: 100%;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
ul{
    list-style: none;
}
.Thang-p3{
    width: 360px;
    margin-bottom: 45px;
    display: block;
}
.Thang-p4{
    margin-bottom: 50px;
    display: block;
}
.Thang-p5{
    margin-bottom: 50px;
    display: block;
}
