/* Same with group */

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #151514;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Common for page */

section {
    float: left;
    width: 100%;
    height: 100%;
}

.hong-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #151514;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: #ffc400;
    transition: all ease-out 0.3s;
    color: #151514;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transition: all ease-out 0.3s;
    text-decoration: none;
}

/* Cart page */

a:hover {
    color: #77a464;
}

.cart-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/Resources/Img/home-page-img/product-slider.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.hong-thead {
    background-color: #151514;
    color: white;
    font-weight: 550;
    padding: 23px 5px 21px 5px;
    line-height: 1;
}

.hong-tr {
    border-bottom: 1px solid lightgrey;
    padding: 0px 5px;
    font-weight: 600;
}

.hong-tr .product-remove i {
    color: red;
}

.hong-tr .product-remove i:hover {
    color: #151514;
    cursor: pointer;
}

.hong-tr .product-thumbnail img {
    width: 140px;
}

.hong-tr .product-price, .hong-tr .product-subtotal {
    font-weight: 550;
    text-shadow: 1px 1px 1px lightgrey;
}

.hong-thead .product-price {
    text-align: center;
}

.hong-tr .product-price {
    text-align: right;
}

.hong-thead .product-quantity {
    text-align: center;
}

.hong-tr .product-quantity {
    text-align: center;
}

.cart-form .quantity {
    margin-bottom: 23px;
    margin-right: 4px;
}

.cart-form .quantity-wrap {
    height: 40px;
}

.cart-form .minus, .cart-form .add {
    width: 40px;
    line-height: 20px;
    font-size: 19px;
    margin: 4px 0 0 0;
    padding: 6px 15px;
    text-align: center;
}

.cart-form .minus {
    padding-left: 17px;
    padding-right: 13px;
}

.cart-form .quantity input {
    width: 60px;
    padding: 10px 7px;
    margin: 0 0 10px 4px;
    text-align: center;
    line-height: 16px;
    cursor: text;
    box-sizing: border-box;
}

.cart-form input::-webkit-outer-spin-button,
.cart-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-form input[type=number] {
    -moz-appearance: textfield;
}

.cart-form input, .cart-totals input,
.cart-totals textarea {
    margin-bottom: 10px;
    padding: 10px 7px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 16px;
}

.cart-form .actions {
    margin: 30px 0 60px 0;
}

.cart-form .coupon input {
    width: 200px;
}

#hong-apply-coupon-button,
#hong-update-cart-button {
    border: none;
    padding: 11px 0;
    font-size: 87%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-stretch: 100%;
    min-width: 200px;
}

#hong-update-cart-button {
    float: right;
    padding-left: 60px;
}

/* Product-suggested */

.cart_totals, .product-suggested {
    margin-bottom: 50px;
}

.cart_totals h2, .product-suggested h2 {
    font-size: 180%;
    margin-bottom: 15px;
}

.product-suggested .products {
    margin-bottom: 20px;
    padding: 0;
}

.product-suggested .product {
    padding: 10px;
    overflow: hidden;
    width: 50%;
}

.product-suggested .product figure {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.product-suggested .product figure:hover {
    cursor: pointer;
}

.product-suggested .product:hover img {
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

.product-suggested .product .icons {
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 21;
    height: 100%;
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.product-suggested .product .icons a {
    text-align: center;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
}

.product-suggested .product .icons i {
    padding-top: 10px;
}

.product-suggested .product .product-wrapper {
    position: relative;
}

.product-suggested .products .product:hover .icons {
    animation: slidein 1s ease-in-out;
    display: flex;
}

@keyframes slidein {
    0% {
        right: -50px;
    }
    100% {
        right: 0px;
    }
}

.product-suggested .product .onsale {
    position: absolute;
    top: 0;
    right: 0;
    background: #77a464;
    color: white;
    font-size: 80%;
    font-weight: 550;
    padding: 5px 10px;
    display: none;
    z-index: 11;
}

.product-suggested .product .caption {
    text-align: center;
    text-shadow: 1px 1px 1px lightgrey;
}

.product-suggested .product .loop-product-title {
    font-size: 100%;
    font-weight: 500;
}

.product-suggested .product .loop-product-title a:hover {
    color: #77a464;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-suggested .product del {
    color: #767676;
    display: none;
    font-weight: 550;
}

.product-suggested .product del .active {
    visibility: visible;
}

.product-suggested .product ins {
    text-decoration: none;
    font-weight: 600;
}

.product-rating {
    text-align: center;
    font-size: 87%;
    display: none;
}

.product-rating span {
    margin-left: -3px;
}

.product-rating .chosen {
    color: #ffc400;
}

/* Cart totals */

.cart_totals {
    float: right;
    padding-left: 150px;
}

.cart_totals .cart-subtotal span {
    text-shadow: 1px 1px 1px #666666;
}

.cart_totals .cart-table th {
    padding-right: 30px;
    text-align: left;
}

.cart_totals .cart-table input,
.cart_totals .cart-table select {
    color: #151514;
    font-size: 87%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    margin: 7px auto;
    width: 200px;
    height: 33px;
    line-height: 33px;
}

#hong-calculate-shipping-button {
    border: none;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 10px 65px;
    font-size: 85%;
    font-weight: 500;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-stretch: 100%;
    width: 200px;
    background-color: lightgrey;
}

#hong-calculate-shipping-button:hover {
    color: #77a464;
    border: 1px solid #77a464;
    cursor: pointer;
    transition: all ease-in-out .3s;
    background-color: white;
}

.cart_totals #cart-total {
    font-size: 110%;
    text-shadow: 0 0 1px lightgrey;
}

.cart_totals .proceed-to-checkout {
    margin: 30px auto;
}

.cart_totals .hong-checkout-button {
    margin-left: 105px;
    border: none;
    padding: 13px 62px;
    font-weight: 500;
    font-stretch: 100%;
    min-width: 200px;
}

.hong-container .para-box {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/Resources/Img/product-detail-img/insde-theme.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    max-width: 1920px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin: 6vw 0;
}

@media screen and (max-width: 320px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .cart-banner {
        height: 150px;
    }

    .cart-banner h1 {
        font-size: 16px;
    }

    .cart-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr, .quantity, .quantity-wrap {
        border: none !important;
    }

    .hong-tr .quantity {
        padding-left: 0;
        padding-right: 0;
    }

    .hong-tr .product-quantity {
        padding: 5px 0;
    }

    .cart_totals {
        padding-left: 0;
    }

    .cart_totals .hong-checkout-button {
        margin-left: 0;
        padding: 13px 70px;
    }

    .cart-table th {
        display: none;
    }

    .cart-form .coupon {
        padding-left: 4px;
    }

    .cart-form .update-cart {
        margin-top: 10px;
        padding-right: 4px;
    }

    .product-suggested .product {
        width: 50%;
    }

    .product-suggested .product .icons a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .product-suggested .product .icons a i {
        padding: 0;
    }

    .product-suggested .product .icons {
        top: 0;
    }

    .product-suggested .product .onsale {
        font-size: 7px;
        padding: 1px;
    }

    #hong-update-cart-button {
        float: left;
        margin-left: 3px;
    }

    .hong-container .para-box {
        height: 150px;
        padding-left: 20px;
    }

    .hong-container h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) and (min-width: 321px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .cart-banner {
        height: 150px;
    }

    .cart-banner h1 {
        font-size: 16px;
    }

    .cart-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr, .quantity, .quantity-wrap {
        border: none !important;
    }

    .cart_totals {
        padding-left: 0;
    }

    .cart_totals .hong-checkout-button {
        margin-left: 0;
        padding: 13px 70px;
    }

    .cart-table th {
        display: none;
    }

    .cart-form .coupon {
        padding-left: 4px;
    }

    .cart-form .update-cart {
        margin-top: 10px;
        padding-right: 4px;
    }

    .product-suggested .product {
        width: 50%;
    }

    .product-suggested .product .icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .product-suggested .product .icons a i {
        padding: 2px;
    }

    .product-suggested .product .icons {
        top: 0;
    }

    .product-suggested .product .onsale {
        font-size: 10px;
        padding: 2px;
    }

    #hong-update-cart-button {
        float: left;
        margin-left: 3px;
    }

    .hong-container .para-box {
        height: 250px;
        padding-left: 20px;
    }

    .hong-container h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .cart-banner {
        height: 250px;
    }

    .cart-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr, .quantity, .quantity-wrap {
        border: none !important;
    }

    .cart_totals {
        padding-left: 100px;
    }

    .cart_totals .hong-checkout-button {
        margin-left: 90px;
        padding: 13px 70px;
    }

    .cart-form .coupon {
        padding-left: 4px;
    }

    .cart-form .update-cart {
        margin-top: 10px;
        padding-right: 4px;
    }

    .product-suggested .products .product {
        width: 50%;
    }

    .product-suggested .product .icons {
        bottom: 0;
    }

    #hong-update-cart-button {
        float: left;
        margin-left: 3px;
    }

    .hong-container .para-box {
        height: 250px;
    }
}


@media screen and (max-width: 991px) and (min-width: 768px) {
    body, button, input, select, textarea, code {
        font-size: 16px;
    }

    .col-6 {
        width: 100%;
    }

    .cart-form .product-thumbnail img {
        width: 100px;
        height: 100px;
    }

    .product-suggested .product {
        overflow: hidden;
        width: 30%;
    }

    #hong-update-cart-button {
        float: left;
    }
}
