.vinh-checkout-container {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
}

.vinh-checkout-detail {
    width: 60%;
    padding: 0 30px;
}

.vinh-checkout-order {
    border: 2px solid;
    width: 38%;
    padding: 20px 30px;
    height: fit-content;
}

.billing-info {
    font-size: 100%;
    padding: 15px 10px;
    border: 1px solid #bebebe;
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.2);
}

.vinh-info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 25px;
    margin-top: 10px;
}

.coupon-btn {
    padding: 15px 30px;
    margin-left: 20px;
}

.vinh-flex {
    display: flex;
    justify-content: space-between;
}

.vinh-order-item {
    border-bottom: 1px solid #bebebe;
    padding: 10px 0;
    color: #a5a5a5;
}

.vinh-checkout-order h3, p {
    color: #949494;
    font-weight: 500;
}

.vinh-border {
    border-bottom: 1px solid #bebebe;
    padding: 10px 0;
}

.vinh-order-item .vinh-promo-pic {
    width: 50px;
    height: 50px;
}

.vinh-order-item span {
    margin-left: 10px;
}

.vinh-order-btn {
    padding: 10px 40px;
    margin-top: 10px;
    border: 1px solid #333;
    background-color: #333;
    font-family: 'Open Sans';
    border-radius: 5px;
    font-weight: 600;
    font-size: 120%;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 849px) {
    .vinh-checkout-container {
        flex-direction: column;
    }
    .vinh-checkout-detail {width: 97%;}
    .vinh-checkout-order {margin: 30px; width: 89%;}
}