.account-banner {
    background-image: url(https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    width: 100vw;
    max-width: 1920px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    letter-spacing: 3px;
}
.Thang-readmore-box{
    width: 1140px;
    /* background-color: rgb(110, 185, 235); */
    margin-top: 40px;
    margin: auto;
    margin-top: 40px;
}
.Thang-readmore-le{
    padding: 0 100px;
}
.Thang-readmore-span{
    text-align: left;
    color: black;
    width: 100%;
    height: 25px;
    margin-bottom: 25px;
}
.Thang-readmore-span span{
    float: left;
    margin-right: 40px;
}
.Thang-readmore-le h1{
    font-size: 30px;
    margin-bottom: 30px;

}
.Thang-readmore-text{
    margin-bottom: 20px;
}
.Thang-readmore-text p {
    margin-bottom: 20px;
    text-align: justify;
}
.Thang-readmore-img{
    width: 1140px;
    height: 750px;
    float: none;
    vertical-align: middle;
    background-size: cover;
    margin: 20px -100px 40px;
}
.Thang-readmore-online{
    width: 1140px;
    /* border-bottom: 1px solid #b9b9b9;
    border-top: 1px solid #b9b9b9; */
    height: 60px;
    margin: auto;
    padding: 12.5px 100px ;
    
}
.Thang-readmore-online-1 li{
    margin-left: 10px;
}
.Thang-readmore-online-1 li:hover{
    color: black;
    background: #ffc400 ;
}
.Thang-readmore-icon{
    display: block;
    width: 38px;
    padding: 0.50em 0;
    text-align: center;
    border: 1px solid #979494;
    line-height: 1;
    float:right;
}
.Thang-relatted{
    width: 1140px;
    /* background: #949795; */
    margin-top: 50px;
    margin-bottom: 80px;
}
.Thang-relatted h3{
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
}
.Thang-relatted-box{
    display: flex;
    width: 1140px;
    /* background: cornflowerblue; */
}
.Thang-relatted-box-1{
    display: block;
    width: 50%;
    padding: 0 12px;
}
.Thang-relatted-box-img{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.Thang-relatted-img{
    object-fit: cover;
    transform: scale(1);
    transition: transform .5s;
    display: block;
    width: 100%;
}
.Thang-relatted-box-img:hover{
    transform: scale(1.1);
}
/* .Thang-relatted-img:hover{
    transform: scale(1.1);
    Transition: 0.5s;
} */
.Thang-readmore-info{
    width: 100%;
    margin-bottom: 5px;
    height: 30px;
}
.Thang-readmore-alo{
    width: 100%;
    margin-top: 20px;
}
.Thang-readmore-info span{
    float: left;
    margin-right: 40px;
}
.Thang-readmore-h4{
    font-size: 25px;
    margin-bottom: 15px;
    width: 100%;
}
a{
    text-decoration: none
}
.Thang-readmore-buttom{
    float: left;
    width: 20%;
    padding: 10px;
    background: white;
    color: black;
    font-size: 14px;
    border: 2px solid black;
    cursor: pointer;
}
.Thang-readmore-buttom:hover{
    color: white;
    background: black;
}




/* Readmore RPS */

@media screen and (max-width: 768px){
    .account-banner {
        width: 100%;
        height: 300px;
    }
    .Thang-readmore-le{
        padding: 0 50px;
    }
    .Thang-readmore-box{
        width: 100%;
    }
    .Thang-relatted{
        width: 100%;
        margin-top: 50px;
        margin: auto;
        margin-bottom: 100px;
    }
    .Thang-relatted-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        display: block;
    }
    .Thang-relatted-box-1{
        display: block;
        padding: 0 12px;
        width: 100%;
        margin: auto;
    }
    .Thang-readmore-h4{
        font-size: 25px;
        margin-bottom: 15px;
        width: 100%;
    }
    .Thang-readmore-online{
        width: 100%;
        height: 60px; 
        margin: 0 auto;
    }
    .Thang-readmore-buttom{
        padding: 5px;
        text-align: center;
    }
    h3{
        width: 100%;
    }
    .Thang-relatted-img{
        width: 100%;

    }

    
}
@media screen and (max-width: 500px){
    .account-banner {
        width: 100%;
        height: 300px;
    }
    .Thang-readmore-box{
        width: 100%;
    }
    .Thang-readmore-le h1{
        font-size: 30px;
        margin-bottom: 30px;
        margin-top: 60px;
    }
    .Thang-readmore-le{
        padding: 0 40px;
    }

    .Thang-relatted-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .Thang-relatted-box-1{
        display: block;
        padding: 0 12px;
        width: 100%;
    }   
    .Thang-readmore-buttom{
        font-size: 10px;
        text-align: center;
    }
    .Thang-readmore-online{
        width: 100%;
        height: 60px; 
        padding: 0 auto;
    }
    .Thang-readmore-img{
        width: 500px;
        height: 250px;
        float: none;
        vertical-align: middle;
        background-size: cover;
        margin: 20px -70px 40px;
    }
}