/* Same with group */

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #151514;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Common for page */

section {
    float: left;
    width: 100%;
    height: 100%;
}

.hong-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.row {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #151514;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: #ffc400;
    transition: all ease-out 0.3s;
    color: #151514;
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transition: all ease-out 0.3s;
    text-decoration: none;
}

/* Wishlist page */

a:hover {
    color: #77a464;
}

.wishlist-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/Resources/Img/home-page-img/product-slider.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1920px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
}

.wishlist-form {
    margin-bottom: 80px;
}

.hong-thead {
    background-color: #151514;
    color: white;
    font-weight: 550;
    padding: 23px 5px 21px 5px;
    line-height: 1;
}

.hong-tr {
    border-bottom: 1px solid lightgrey;
    padding: 0px 5px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.hong-tr .product-remove i {
    color: red;
}

.hong-tr .product-remove i:hover {
    color: black;
    cursor: pointer;
}

.hong-tr .product-thumbnail img {
    width: 140px;
}

.hong-tr .product-price, .hong-tr .product-available {
    font-weight: 550;
    text-shadow: 1px 1px 1px lightgrey;
}

.hong-thead .product-price {
    text-align: center;
}

.hong-tr .product-price {
    text-align: right;
}

.product-add-cart {
    text-align: center;
}

.hong-tr .product-available {
    color: #77a464;
}

.product-add-cart .add-to-cart-button {
    margin-bottom: 10px;
    padding: 18px 31px;
    border: 1px solid #fff;
    vertical-align: middle;
    text-align: center;
    font-stretch: 100%;
    font-weight: 500;
    max-width: 100%;
}

/* Product-suggested */

.wishlist-suggested .suggested-title {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.wishlist-suggested .suggested-title h3 {
    color: #151514;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    font-size: 180%;
}

.wishlist-suggested .suggested-title:before {
    content: "";
    position: absolute;
    left: 49%;
    width: 30px;
    height: 3px;
    bottom: -12px;
    border-bottom: 3px solid #ffc400;
}

.wishlist-suggested .product-suggested {
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(50% - 40px);
}

.wishlist-suggested .left-box {
    margin-left: 0;
    margin-right: 40px;
}

.wishlist-suggested .right-box {
    margin-right: 0;
    margin-left: 40px;
}

.product-suggested .products {
    margin-bottom: 20px;
    padding: 0;
}

.product-suggested .product {
    padding: 10px;
    overflow: hidden;
    width: 25%;
}

.product-suggested .product figure {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.product-suggested .product figure:hover {
    cursor: pointer;
}

.product-suggested .product:hover img {
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

.product-suggested .product .icons {
    position: absolute;
    right: 0;
    bottom: 10px;
    z-index: 21;
    height: 100%;
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.product-suggested .product .icons a {
    text-align: center;
    float: right;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 2px;
}

.product-suggested .product .icons i {
    padding-top: 10px;
}

.product-suggested .product .product-wrapper {
    position: relative;
}

.product-suggested .products .product:hover .icons {
    animation: slidein 1s ease-in-out;
    display: flex;
}

@keyframes slidein {
    0% {
        right: -50px;
    }
    100% {
        right: 0px;
    }
}

.product-suggested .product .onsale {
    position: absolute;
    top: 0;
    right: 0;
    background: #77a464;
    color: white;
    font-size: 80%;
    font-weight: 550;
    padding: 5px 10px;
    display: none;
    z-index: 11;
}

.product-suggested .product .caption {
    text-align: center;
    text-shadow: 1px 1px 1px lightgrey;
}

.product-suggested .product .loop-product-title {
    font-size: 100%;
    font-weight: 500;
}

.product-suggested .product .loop-product-title a:hover {
    color: #77a464;
    padding-top: 20px;
    padding-bottom: 20px;
}

.product-suggested .product del {
    color: #767676;
    display: none;
    font-weight: 550;
}

.product-suggested .product del .active {
    visibility: visible;
}

.product-suggested .product ins {
    text-decoration: none;
    font-weight: 600;
}

.product-rating {
    text-align: center;
    font-size: 87%;
    display: none;
}

.product-rating span {
    margin-left: -3px;
}

.product-rating .chosen {
    color: #ffc400;
}

.hong-container .para-box-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/Resources/Img/product-detail-img/insde-theme.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: calc(50% - 40px);
    max-width: 1920px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin: 30px 40px 30px 0;
}

.hong-container .para-box-two {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/Resources/Img/home-page-img/product-slider.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: calc(50% - 40px);
    max-width: 1920px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    margin: 30px 0 30px 40px;
}

@media screen and (max-width: 320px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .wishlist-banner {
        height: 150px;
    }

    .wishlist-banner h1 {
        font-size: 16px;
    }

    .wishlist-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr {
        border: none;
    }

    .add-to-cart-button {
        margin-top: 10px;
    }

    .wishlist-form .add-to-cart-button {
        padding: 10px 0;
        width: 130px;
        font-size: 60%;
        margin-top: 10px;
    }

    .wishlist-table th {
        display: none;
    }

    .product-suggested .product {
        width: 50%;
    }

    .product-suggested .product .icons a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .product-suggested .product .icons a i {
        padding: 0;
    }

    .product-suggested .product .icons {
        top: 0;
    }

    .product-suggested .product .onsale {
        font-size: 7px;
        padding: 1px;
    }

    .hong-container .para-box-one {
        height: 150px;
    }

    .hong-container .para-box-two {
        display: none;
    }

    .hong-container .para-box-one {
        width: 100%;
        margin-right: 0;
        height: 250px;
    }

    .hong-container h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) and (min-width: 321px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .wishlist-banner {
        height: 250px;
    }

    .wishlist-banner h1 {
        font-size: 16px;
    }

    .wishlist-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr {
        border: none;
    }

    .add-to-cart-button {
        margin-top: 10px;
    }

    .wishlist-form .add-to-cart-button {
        padding: 10px 0;
        width: 130px;
        font-size: 60%;
        margin-top: 10px;
    }

    .wishlist-table th {
        display: none;
    }

    .product-suggested .product {
        width: 50%;
    }

    .product-suggested .product .icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    .product-suggested .product .icons a i {
        padding: 2px;
    }

    .product-suggested .product .icons {
        top: 0;
    }

    .product-suggested .product .onsale {
        font-size: 10px;
        padding: 2px;
    }

    .hong-container .para-box-two {
        display: none;
    }

    .hong-container .para-box-one {
        width: 100%;
        margin-right: 0;
        height: 250px;
    }

    .hong-container h1 {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    body, button, input, select, textarea, code {
        font-size: 13px;
    }

    .wishlist-banner {
        height: 250px;
    }

    .wishlist-form {
        width: 92%;
    }

    .hong-thead {
        display: none;
    }

    .hong-tr div {
        border-bottom: 1px solid lightgrey;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 5px 10px;
    }

    .hong-tr div:first-child {
        border-top: 1px solid lightgrey;
    }

    .hong-tr {
        border: none;
    }

    .wishlist-form .add-to-cart-button {
        padding: 10px 0;
        width: 130px;
        font-size: 60%;
        margin-top: 10px;
    }

    .wishlist-table th {
        display: none;
    }

    .product-suggested .product {
        width: 50%;
    }

    .hong-container .para-box-two {
        display: none;
    }

    .hong-container .para-box-one {
        width: 100%;
        margin-right: 0;
        height: 250px;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    body, button, input, select, textarea, code {
        font-size: 16px;
    }

    .col-6 {
        width: 100%;
    }

    .wishlist-form .product-thumbnail img {
        width: 100px;
        height: 100px;
    }

    .wishlist-form .add-to-cart-button {
        padding: 10px 0;
        width: 130px;
        font-size: 60%;
    }

    .product-suggested .product .icons {
        bottom: -2px;
    }
}
