<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Blog | Durable Furniture</title>
  <link rel="icon" href="/Resources/Img/header-footer-img/Logo.png" type="image/x-icon">
  <link rel="stylesheet" href="css/home-page-min.css">
  <link rel="stylesheet" href="css/home-page-media-min.css">
  <link rel="stylesheet" href="css/header-footer-min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

  <!-- css, RPS,Blog -->
  <link rel="stylesheet" href="/css/blog-style-min.css">
  <link rel="stylesheet" href="/css/blog-media-min.css">
</head>

<body>
  <div class="vinh-container">
    <div class="vinh-free-shipping-container">
      <div class="vinh-free-shipping-wrap">
        <div class="vinh-free-shipping-item">
          <span class="vinh-free-shipping-emp">free-shipping</span> for orders above $100!!!
        </div>
        <div class="vinh-free-shipping-item">
          <span class="vinh-free-shipping-emp">free-shipping</span> on your first order!!!
        </div>
        <div class="vinh-free-shipping-item">
          <span class="vinh-free-shipping-emp">call us</span> for more information 043-235-2561
        </div>
      </div>
      <div class="vinh-find-store">
        <a href="/find_store" style="color: white;">Find a store</a> <i class="bi bi-geo-alt"></i>
      </div>
    </div>
    <header>
      <div class="vinh-header-wrap" id="navbar">
        <div class="vinh-inner-container">
          <div class="vinh-sub-menu">
            <i id="myIcon" onclick="subMenuFunction()" class="bi bi-list" style="font-size: 150%;"></i>
          </div>
          <a href="/home"><img class="vinh-logo"
              src="Resources/Img/header-footer-img/Dark Slate Grey Star Icon Business Logo web.png"></a>
        </div>
        <div class="vinh-inner-container vinh-menu">
          <ul class="vinh-menu-list">
            <li class="vinh-drop-down">
              <a class="vinh-menu-style" href="/home">Home</a>
            </li>
            <li class="vinh-drop-down">
              <a class="vinh-menu-style" href="/frato">Furniture</a>
              <div class="vinh-drop-down-content vinh-furniture">
                <div class="vinh-drop-down-item">
                  <img src="Resources/Img/header-footer-img/hugo_noblanket_600x500.jpg">
                  <h3>Living Room</h3>
                  <ul>
                    <li><a href="/frato">Sofas</a></li>
                    <li><a href="/frato">Loveseats</a></li>
                    <li><a href="/frato">Sectionals</a></li>
                    <li><a href="/frato">Chairs & Chaises</a></li>
                    <li><a href="/frato">Sofa Beds & Futons</a></li>
                    <li><a href="/frato">Recliners</a></li>
                    <li><a href="/frato">Ottoman & Benches</a></li>
                    <li><a href="/frato">Cabinets & Etageres</a></li>
                    <li><a href="/frato">Living Room Packages</a></li>
                    <li><a href="/frato">3 Piece Sofa Set</a></li>
                  </ul>
                </div>
                <div class="vinh-drop-down-item">
                  <img src="Resources/Img/header-footer-img/juneau_dining_horizontal_600x.jpg">
                  <h3>Dining Room</h3>
                  <ul>
                    <li><a href="/frato">Dining Sets</a></li>
                    <li><a href="/frato">Chairs</a></li>
                    <li><a href="/frato">Benches</a></li>
                    <li><a href="/frato">Counter & Bar Stools</a></li>
                    <li><a href="/frato">Buffets & Sideboards</a></li>
                    <li><a href="/frato">China Cabinets & Curious</a></li>
                    <li><a href="/frato">Bars</a></li>
                    <li><a href="/frato">Modern Dining</a></li>
                    <li><a href="/frato">Custom Designed Table</a></li>
                    <li><a href="/frato">6 Seater Dining</a></li>
                  </ul>
                </div>
                <div class="vinh-drop-down-item">
                  <img src="Resources/Img/header-footer-img/juneau_bed_v1_600x.jpg">
                  <h3>Bed Room</h3>
                  <ul>
                    <li><a href="/frato">King Beds</a></li>
                    <li><a href="/frato">Queen Beds</a></li>
                    <li><a href="/frato">Full Beds</a></li>
                    <li><a href="/frato">Daybeds & Futons</a></li>
                    <li><a href="/frato">Headboards & Frames</a></li>
                    <li><a href="/frato">Dressers & Chests</a></li>
                    <li><a href="/frato">Mirros</a></li>
                    <li><a href="/frato">Nightstands</a></li>
                    <li><a href="/frato">Armoires</a></li>
                    <li><a href="/frato">Bedroom Sets</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="vinh-drop-down">
              <a class="vinh-menu-style" href="/brand">Brands</a>
              <div class="vinh-drop-down-content vinh-brand">
                <div class="vinh-drop-down-item">
                  <a href="/brand">Essential Home</a>
                </div>
                <div class="vinh-drop-down-item">
                  <a href="/brand">Frato</a>
                </div>
                <div class="vinh-drop-down-item">
                  <a href="/brand">Koket</a>
                </div>
                <div class="vinh-drop-down-item">
                  <a href="/brand">Erado</a>
                </div>
                <div class="vinh-drop-down-item">
                  <a href="/brand">Bentley Home</a>
                </div>
                <div class="vinh-drop-down-item">
                  <a href="/brand">Capellini</a>
                </div>
              </div>
            </li>
            <li class="vinh-drop-down">
              <a class="vinh-menu-style" href="/blog">Blog</a>
            </li>
            <li class="vinh-drop-down">
              <a class="vinh-menu-style" href="/contact-us">Contact us</a>
            </li>
          </ul>
        </div>
        <div class="vinh-inner-container">
          <ul class="vinh-icon-list">
            <li id="search-bar" class="collapsed">
              <div id="search-box">
                <div id="sliding-panel-outer">
                  <form th:action="@{/search}" method="get">
                    <div id="sliding-panel-inner">
                      <input type="text" id="search-input" th:value="${str}"
                             placeholder="Search..." name="str" required/>
                      <button type="submit"></button>
                    </div>
                  </form>
                  <!--#sliding-panel-inner-->
                </div>
                <!--#sliding-panel-outer-->

                <div class="search-label">
                  <i id="search-one" class="bi bi-search"></i>
                </div>
              </div>
              <!--#search-box-->
            </li>
            <!--#searchbar-->
            <li>
              <a href="/wishlist"><i class="bi bi-heart"></i></a>
            </li>
            <li class="vinh-cart" style="position: relative;">
              <a href="/cart"><i class="bi bi-cart3"></i></a>
              <div class="vinh-cart-drop-down">
                <p>Your shopping cart (2 items)</p>
                <div style="margin: 15px 0;">
                  <div class="vinh-cart-item">
                    <figure class="vinh-promo-pic">
                      <img class="vinh-pic"
                        src="Resources/Img/product-cart-wish-img/frato-metal-classic-out-door-dining-chair-(1).jpg" />
                    </figure>
                    <span>Frato Metal Classic Out Door Dining Chair</span>
                    <span>1 x $83.00</span>
                    <i class="bi bi-x-circle"></i>
                  </div>
                  <div class="vinh-cart-item">
                    <figure class="vinh-promo-pic">
                      <img class="vinh-pic"
                      src="Resources/Img/product-cart-wish-img/rattan-modern-dining-chair-(13).jpg" />
                    </figure>
                    <span>Frato Rattan Modern Dining Chair</span>
                    <span>1 x $38.00</span>
                    <i class="bi bi-x-circle"></i>
                  </div>
                  <div class="subtotal">
                    <p>Cart Subtotal:</p>
                    <p>$121.00</p>
                  </div>
                </div>

                <div style="display: flex; justify-content: space-between;">
                  <a class="vinh-button" href="/cart">View Cart</a>
                  <a class="vinh-button" href="/checkout">Check Out</a>
                </div>
              </div>
            </li>
            <li><a th:href="${userLink}" th:text="${userStatus}">Log in</a></li>
            <li><a th:href="${loginLink}" th:text="${loginStatus}">Log in</a></li>
          </ul>
        </div>
      </div>
      <div id="myDropdown" class="vinh-sub-menu-dropdown">
        <ul>
          <li><a href="/home" style="color:#6CB975 !important">home</a></li>
          <li><a href="/frato">furniture</a></li>
          <li><a href="/brand">brand</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/contact-us">contact</a></li>
          <li>
            <input class="vinh-sub-menu-search" type="text" placeholder="Search...">
            <button class="vinh-search-button" type="submit">Search</button>
          </li>
        </ul>
      </div>
    </header>
    <!-- Thắng code  -->
    <div class="Thang-account-banner">
      <h1>Blog</h1>
    </div>
    <div class="Thang-container-blog">
      <div class="Thang-container-blog-1">
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/1111.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 19, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 8 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                A historic Montreal house was given a contemporary update by design studio Talo Studio, which played
                with textures to create the home's minimalist aesthetic.
                </br>
                <br>
                "A thick rounded sofa is combined with a low linear slatted coffee table and nubby rug with a subtle
                swirl, reminiscent of a Japanese garden," studio founder Tiina Vahtola told Dezeen.
                </br>
                An angular Hans Wegner lounge chair with a sheepskin throw nods to the Scandinavian influence.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- ddoạn 2 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/2222.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 22, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 11 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Danish design brand Menu and architecture studio Norm Architects collaborated on the design of The Audo,
                a hotel in Copenhagen's Nordhavn area.
                <br>
                <br>
                A coffee table in veiny Carrara marble adds pattern interest to the room's muted design, while a woven
                rug and rock-like ceramic sculpture stand out against the bare walls. The room's beige sofa with a
                wooden frame evokes functional Japanese furniture.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 3 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/3333.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 16, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 21 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Japanese design elements were added to this industrial loft space in Brooklyn, New York, such as a
                raised platform that can double as a bed frame. In the living room, a classic white Eames lounge chair
                sits next to a sculptural side table in dark wood.
                <br>
                <br>
                Dried flowers and grass and a selection of ceramic jugs and vases make for a living room design that
                feels more Scandinavian or Japanese than American. A traditional Scandinavian-style tasseled rug makes
                the room feel more homely.
              </div>
              <a href="read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 4 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/4444.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 16, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 15 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                This London home combines a pared-down interior design with interesting tactile touches such as a fluffy
                rug with a geometric pattern.
                <br>
                <br>
                A rough-hewn wooden side table is reminiscent of traditional Japanese joinery, while the vintage
                Cleopatra daybed by Dutch designer Dick Cordemeyer for Auping adds a northern European design piece that
                perfectly matches the home's Asian influences.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 5 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/5555.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 29, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 19 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Norm Architects and Keiji Ashizawa Design have collaborated on a number of projects, including this
                Japandi interior design for a home in Tokyo.
                <br>
                <br>
                The triangular pendant lamp is by Norm Architects for Karimoku Case Study and is made from traditional
                Japanese washi paper. Its geometric shape is picked up by the abstract sculptures on one of the walls
                and complements the armless modular sofa.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 6 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/6666.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 16, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 7 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Margin House was designed by architect Kohei Yukawa for himself and his family. Flexible living spaces
                are arranged around an atrium that features a living tree in the middle of the room.
                <br>
                <br>
                The use of pale wood throughout adds a Scandinavian touch to the room, which has a welcoming feel and is
                flooded with natural light.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 7 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/7777.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 16, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 29 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend a lectus ac auctor. Nulla
                facilisi. Suspendisse potenti. Praesent nisl augue, porttitor ut tempor ac, consectetur ut lorem. Aenean
                eleifend,...
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <!-- 8 -->
        <div>
          <article class="Thang-blog-list">
            <figure class="Thang-blog-figure">
              <a class="Thang-img-effect" href="#">
                <img class="Thang-blog-img" src="Resources/Img/Blog-img/8888.jpeg">
              </a>
            </figure>
            <div class="Thang-blog-1">
              <div class="Thang-icon">
                <span><i class="bi bi-calendar-week"></i>April 16, 2021 </span>
                <span><i class="bi bi-person-fill"></i>By Durable Furninure</span>
                <span><i class="bi bi-chat-dots"></i> 7 Comments</span>
              </div>
              <div class="Thang-blog-text1">
                <h3>Modern furniture designs for your dream lorem ipsum is a dummy text home</h3>
              </div>
              <div class="Thang-blog-Loren">
                Japanese furniture producer Ariake created an installation at Stockholm Design Week in 2018 to show its
                first collection. The range included these wooden sofas, whose strict lines and warm wooden frames
                perfectly encompass the meeting between Scandinavian and Japanese style.
                <br>
                <br>
                A triangular white lamp and small sculptural side table are a fun addition to the room, which also
                features a weathered wooden floor and walls where the peeling paint has become a decorative feature in
                itself.
              </div>
              <a href="/read_more" class="Thang-blog-button">READ MORE</a>
            </div>
          </article>
        </div>
        <div class="Thang-Page">
          <ul>
            <li>
              <span class="Thang-Page-1">1</span>
            </li>
            <li>
              <a class="Thang-Page-2">2</a>
            </li>
            <li>
              <a class="Thang-Page-3">3</a>
            </li>
            <li>
              <a class="Thang-Page-3">...</a>
            </li>
            <li>
              <a class="Thang-Page-4"><i class="bi bi-arrow-right"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="Thang-container-blog-2">
        <div>
          <div class="Thang-p1">
            <form class="Thang-blog-search">
              <input id="Thang-Search-input" type="text" placeholder="Search.." name="search">
              <button class="Thang-blog-search-button" type="submit">Search</button>
            </form>
          </div>
          <div class="Thang-p2">
            <H4 class="Thang-p2-1">Recent Comments</H4>
            <ul>
              <li class="Thang-rcm">Durable Furninure-main on Lonan Full Memory Foam Sofabed</li>
              <li class="Thang-rcm">Durable Furninure-main on Brecken Boss Chair</li>
            </ul>
          </div>
          <div class="Thang-p3">
            <h4 class="Thang-p2-1">Archives</h4>
            <ul>
              <li><a href="#">Aprill 2021</a></li>
              <li><a href="#">October 2021</a></li>
              <li><a href="#">September 2021</a></li>
              <li><a href="#">Aprill 2020</a></li>
              <li><a href="#">July 2020</a></li>
              <li><a href="#">May2020</a></li>
            </ul>
          </div>
          <div class="Thang-p4">
            <h4 class="Thang-p2-1">Tag Cloud</h4>
            <div class="Thang-Blog-Tag">
              <a href="#" class="Thang-Blog-Tag-1">Chair</a>
              <a href="#" class="Thang-Blog-Tag-2">Fashion</a>
              <a href="#" class="Thang-Blog-Tag-3">Tables</a>
              <a href="#" class="Thang-Blog-Tag-3">Kids</a>
              <a href="#" class="Thang-Blog-Tag-1">Sofa</a>
              <a href="#" class="Thang-Blog-Tag-1">Wardrobe</a>
              <a href="#" class="Thang-Blog-Tag-2">Palletbed</a>
            </div>
          </div>
          <div class="Thang-p5">
            <h4 class="Thang-p2-1">Meta</h4>
            <ul>
              <li>Entries feed</li>
              <li>Comments feed</li>
              <li>WordPress.org</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- hết code  -->
    <div id="hong-scroll-top-btn" onclick="hongScrollTop()">
      <i class="fas fa-chevron-up"></i>
    </div>
    <div class="vinh-container-footer"></div>
    <footer>
      <div class="ft-social vinh-info">
        <div class="ft-main-item">
          <h3 class="ft-title">About the company</h3>
          <ul>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Investor Ralations</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h3 class="ft-title">Customer Service</h3>
          <ul>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/faq">Help Center</a></li>
            <li><a href="#">Shopping Guide</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="mailto:vinhtb.jp@gmail.com">Email us</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h3 class="ft-title">Site Terms</h3>
          <ul>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Terms of Sale</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Shop Glossary</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h3 class="ft-title">Newsletter Subcribe</h3>
          <p style="margin-top: 10px;">Get 5% OFF when you signup for<br>our email newsletter!</p>
          <div class="vinh-newsletter">
            <form>
              <input class="vinh-newsletter-input" type="email" name="email">
            </form>
            <i class="bi bi-envelope"></i>
          </div>
        </div>
      </div>
      <div class="ft-social-container">
        <div class="ft-social vinh-sns">
          <span>&copy; 2021 Durable Furninure. All rights reserved</span>
          <div class="vinh-sns-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-tumblr"></i></a>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"
    integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/957c836d53.js" crossorigin="anonymous"></script>

  <script>
    $('#search-bar .search-label').on('click', function (e) {
      e.preventDefault();
      $('#search-bar').toggleClass('collapsed');
    });

    function subMenuFunction() {
      document.getElementById('myDropdown').classList.add('vinh-show')
    }

    window.onclick = function (event) {
      if (!event.target.matches('.bi-list')) {
        var dropdowns = document.getElementsByClassName('vinh-sub-menu-dropdown');
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('vinh-show')) {
            openDropdown.classList.remove('vinh-show');
          }
        }
      }
    }

    document.getElementById("myIcon").onclick = function () {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    };

    window.onscroll = function () { myFunction() };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    hScrollTopBtn = document.getElementById("hong-scroll-top-btn");

    function myFunction() {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add("vinh-sticky")
      } else {
        navbar.classList.remove("vinh-sticky");
      }

      if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
        hScrollTopBtn.style.display = "block";
      } else {
        hScrollTopBtn.style.display = "none";
      }
    }

    function hongScrollTop() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    };
  </script>

</body>

</html>