<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product Categories | Durable Furniture</title>
    <link rel="icon" href="static/Resources/Img/header-footer-img/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/home-page-media-min.css">
    <link rel="stylesheet" href="static/css/header-footer-min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="static/css/product-list-min.css">
    <link rel="stylesheet" href="static/css/product-list-media-min.css">
</head>

<body>
<div class="vinh-container">
    <div class="vinh-free-shipping-container">
        <div class="vinh-free-shipping-wrap">
            <div class="vinh-free-shipping-item">
                <span class="vinh-free-shipping-emp">free-shipping</span> for orders above $100!!!
            </div>
            <div class="vinh-free-shipping-item">
                <span class="vinh-free-shipping-emp">free-shipping</span> on your first order!!!
            </div>
            <div class="vinh-free-shipping-item">
                <span class="vinh-free-shipping-emp">call us</span> for more information 043-235-2561
            </div>
        </div>
        <div class="vinh-find-store">
            <a href="/find_store" style="color: white;">Find a store</a> <i class="bi bi-geo-alt"></i>
        </div>
    </div>
    <header>
        <div class="vinh-header-wrap" id="navbar">
            <div class="vinh-inner-container">
                <div class="vinh-sub-menu">
                    <i id="myIcon" onclick="subMenuFunction()" class="bi bi-list" style="font-size: 150%;"></i>
                </div>
                <a href="/home"><img class="vinh-logo"
                                     src="static/Resources/Img/header-footer-img/Dark Slate Grey Star Icon Business Logo web.png"></a>
            </div>
            <div class="vinh-inner-container vinh-menu">
                <ul class="vinh-menu-list">
                    <li class="vinh-drop-down">
                        <a class="vinh-menu-style" href="/home">Home</a>
                    </li>
                    <li class="vinh-drop-down">
                        <a class="vinh-menu-style" href="/frato">Furniture</a>
                        <div class="vinh-drop-down-content vinh-furniture">
                            <div class="vinh-drop-down-item">
                                <img src="static/Resources/Img/header-footer-img/hugo_noblanket_600x500.jpg">
                                <h3>Living Room</h3>
                                <ul>
                                    <li><a href="/frato">Sofas</a></li>
                                    <li><a href="/frato">Loveseats</a></li>
                                    <li><a href="/frato">Sectionals</a></li>
                                    <li><a href="/frato">Chairs & Chaises</a></li>
                                    <li><a href="/frato">Sofa Beds & Futons</a></li>
                                    <li><a href="/frato">Recliners</a></li>
                                    <li><a href="/frato">Ottoman & Benches</a></li>
                                    <li><a href="/frato">Cabinets & Etageres</a></li>
                                    <li><a href="/frato">Living Room Packages</a></li>
                                    <li><a href="/frato">3 Piece Sofa Set</a></li>
                                </ul>
                            </div>
                            <div class="vinh-drop-down-item">
                                <img src="static/Resources/Img/header-footer-img/juneau_dining_horizontal_600x.jpg">
                                <h3>Dining Room</h3>
                                <ul>
                                    <li><a href="/frato">Dining Sets</a></li>
                                    <li><a href="/frato">Chairs</a></li>
                                    <li><a href="/frato">Benches</a></li>
                                    <li><a href="/frato">Counter & Bar Stools</a></li>
                                    <li><a href="/frato">Buffets & Sideboards</a></li>
                                    <li><a href="/frato">China Cabinets & Curious</a></li>
                                    <li><a href="/frato">Bars</a></li>
                                    <li><a href="/frato">Modern Dining</a></li>
                                    <li><a href="/frato">Custom Designed Table</a></li>
                                    <li><a href="/frato">6 Seater Dining</a></li>
                                </ul>
                            </div>
                            <div class="vinh-drop-down-item">
                                <img src="static/Resources/Img/header-footer-img/juneau_bed_v1_600x.jpg">
                                <h3>Bed Room</h3>
                                <ul>
                                    <li><a href="/frato">King Beds</a></li>
                                    <li><a href="/frato">Queen Beds</a></li>
                                    <li><a href="/frato">Full Beds</a></li>
                                    <li><a href="/frato">Daybeds & Futons</a></li>
                                    <li><a href="/frato">Headboards & Frames</a></li>
                                    <li><a href="/frato">Dressers & Chests</a></li>
                                    <li><a href="/frato">Mirros</a></li>
                                    <li><a href="/frato">Nightstands</a></li>
                                    <li><a href="/frato">Armoires</a></li>
                                    <li><a href="/frato">Bedroom Sets</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="vinh-drop-down">
                        <a class="vinh-menu-style" href="/brand">Brands</a>
                        <div class="vinh-drop-down-content vinh-brand">
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Essential Home</a>
                            </div>
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Frato</a>
                            </div>
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Koket</a>
                            </div>
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Erado</a>
                            </div>
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Bentley Home</a>
                            </div>
                            <div class="vinh-drop-down-item">
                                <a href="/brand">Capellini</a>
                            </div>
                        </div>
                    </li>
                    <li class="vinh-drop-down">
                        <a class="vinh-menu-style" href="/blog">Blog</a>
                    </li>
                    <li class="vinh-drop-down">
                        <a class="vinh-menu-style" href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="vinh-inner-container">
                <ul class="vinh-icon-list">
                    <li id="search-bar" class="collapsed">
                        <div id="search-box">
                            <div id="sliding-panel-outer">
                                <form th:action="@{/search}" method="get">
                                    <div id="sliding-panel-inner">
                                        <input type="text" id="search-input" th:value="${str}"
                                               placeholder="Search..." name="str" required/>
<!--                                        <button type="submit"></button>-->
                                    </div>
                                </form>
                                <!--#sliding-panel-inner-->
                            </div>
                            <!--#sliding-panel-outer-->

                            <div class="search-label">
                                <i id="search-one" class="bi bi-search"></i>
                            </div>
                        </div>
                        <!--#search-box-->
                    </li>
                    <!--#searchbar-->
                    <li>
                        <a href="/wishlist"><i class="bi bi-heart"></i></a>
                    </li>
                    <li class="vinh-cart" style="position: relative;">
                        <a href="/cart"><i class="bi bi-cart3"></i></a>
                        <div class="vinh-cart-drop-down">
                            <p style="float: left">Your shopping cart (</p>
                            <p th:text="${listCarts.size()}" style="float: left"></p>
                            <p>&nbspitem)</p>
                            <div style="margin: 15px 0;">
                                <div class="vinh-cart-item" th:each="subCart : ${listCarts}">
                                    <figure class="vinh-promo-pic">
                                        <img class="vinh-pic"
                                             th:src="@{${subCart.pathImage}}"/>
                                    </figure>
                                    <span th:text="${subCart.name}">Name</span>
                                    <span th:text="${subCart.quantity} + 'x ' + ${subCart.price}*1 + '.00đ'"></span>
                                    <i class="bi bi-x-circle"></i>
                                </div>
                                <!--                                <div class="vinh-cart-item">-->
                                <!--                                    <figure class="vinh-promo-pic">-->
                                <!--                                        <img class="vinh-pic"-->
                                <!--                                             src="Resources/Img/product-cart-wish-img/rattan-modern-dining-chair-(13).jpg"/>-->
                                <!--                                    </figure>-->
                                <!--                                    <s
                                pan>Frato Rattan Modern Dining Chair</span>-->
                                <!--                                    <span>1 x $38.00</span>-->
                                <!--                                    <i class="bi bi-x-circle"></i>-->
                                <!--                                </div>-->
                                <div class="subtotal">
                                    <p>Cart Subtotal:</p>
                                    <p th:text="${totalPrice}*1 + '.00đ'"></p>
                                </div>
                            </div>

                            <div style="display: flex; justify-content: space-between;">
                                <a class="vinh-button" href="/cart">View Cart</a>
                                <a class="vinh-button" href="/checkout">Check Out</a>
                            </div>
                        </div>
                    </li>
                    <li><a th:href="${userLink}" th:text="${userStatus}">Log in</a></li>
                    <li><a th:href="${loginLink}" th:text="${loginStatus}">Log in</a></li>
                </ul>
            </div>
        </div>
        <div id="myDropdown" class="vinh-sub-menu-dropdown">
            <ul>
                <li><a href="/home" style="color:#6CB975 !important">home</a></li>
                <li><a href="/frato">furniture</a></li>
                <li><a href="/brand">brand</a></li>
                <li><a href="/blog">blog</a></li>
                <li><a href="/contact-us">contact</a></li>
                <li>
                    <input class="vinh-sub-menu-search" type="text" placeholder="Search...">
                    <button class="vinh-search-button" type="submit">Search</button>
                </li>
            </ul>
        </div>
    </header>


    <div class="thien-banner">
        <div class="thien-inner">
            <h2>FRATO</h2>
        </div>
    </div>


    <div id="thien-wrapper">
        <div id="thien-menu">
            <ul>
                <h2 style="font-size: 150%;border-bottom: 1px solid grey;margin-bottom: 15px;padding-bottom: 8px;">
                    Product Brands</h2>
                <li><a href="#" style="font-weight: bold;">Categories</a>
                    <ul class="thien-sub-menu" style="border-bottom: 0.2px solid lightgrey;margin-bottom: 15px;"
                        th:each="cate : ${categories}">
                        <li><a th:value="${str}" th:text="${cate.name}" th:href="@{'/list_by_category/' + ${cate.id}}"> Bed</a></li>
                    </ul>
                </li>
                <li><a href="#" style="font-weight: bold;">Sort</a>
                    <ul class="thien-sub-menu" style="border-bottom: 0.2px solid lightgrey;margin-bottom: 15px;">
                        <li><a href="/frato" th:href="@{/list_by_price_lth}">Low to High</a></li>
                        <li><a href="/frato" th:href="@{/list_by_price_htl}">High to Low</a></li>
<!--                        <li><a href="/frato">Dinning Chair</a></li>-->
<!--                        <li><a href="/frato">Office Chair</a></li>-->
                    </ul>
                </li>
<!--                <li><a href="#" style="font-weight: bold;">Sofas</a>-->
<!--                    <ul class="thien-sub-menu" style="border-bottom: 0.2px solid lightgrey;margin-bottom: 15px;">-->
<!--                        <li><a href="/frato">3 Seater Sofas</a></li>-->
<!--                        <li><a href="/frato">Chaise longue sofas</a></li>-->
<!--                        <li><a href="/frato">Modular sofas</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li><a href="#" style="font-weight: bold;">Tables</a>-->
<!--                    <ul class="thien-sub-menu" style="border-bottom: 0.2px solid lightgrey;margin-bottom: 15px;">-->
<!--                        <li><a href="/frato">Coffee Table</a></li>-->
<!--                        <li><a href="/frato">Dinning Table</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
                <!-- <li><a href="#" style="font-weight: bold; margin-bottom: 10px;">Color</a>
                  <ul style="border-bottom: 0.2px solid lightgrey;margin-bottom: 15px;">
                    <li style="background-color: #987654;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #808080;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #DDC283;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #bebebe;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: black;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: white; border: 1px solid;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #ff8c00;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #fcc65d;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #008000;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #159bf4;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #7357d1;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #4480a8;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #12d53b;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #d55672;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: #f87810;" class="vinh-aside-menu-color"></li>
                    <li style="background-color: red;" class="vinh-aside-menu-color"></li>
                  </ul>
                </li> -->
<!--                <li><a href="#" style="font-weight: bold; margin-bottom: 10px;">Price</a>-->
<!--&lt;!&ndash;                    <div>&ndash;&gt;-->
<!--&lt;!&ndash;                        $ <input class="price-range" type="input" placeholder="15"> - $ <input class="price-range"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                               type="input"&ndash;&gt;-->
<!--&lt;!&ndash;                                                                                               placeholder="15000"><i&ndash;&gt;-->
<!--&lt;!&ndash;                            class="bi bi-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="vinh-aside-menu-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$15.00 - $500.00 (305)</span>-->
<!--                    </div>-->
<!--                    <div class="vinh-aside-menu-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$500.00 - $1000.00 (279)</span>-->
<!--                    </div>-->
<!--                    <div class="vinh-aside-menu-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$1000.00 - $2000.00 (226)</span>-->
<!--                    </div>-->
<!--                    <div class="vinh-aside-menu-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$2000.00 - $4000.00 (178)</span>-->
<!--                    </div>-->
<!--                    <div class="vinh-aside-menu-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$4000.00 - $6000.00 (109)</span>-->
<!--                    </div>-->
<!--                    <div class="vinh-aside-menu-item last-item">-->
<!--                        <input class="checkbox" type="checkbox">-->
<!--                        <span>$6000.00 - $10000.00 (45)</span>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <h2-->
<!--                        style="border-bottom: 1px solid gray;font-size: 150%;margin-top: 15px; margin-bottom: 20px;padding-bottom: 8px;">-->
<!--                    Best Seller</h2>-->
<!--                <ul class="thien-product-menu">-->
<!--                    <li><a href="/chair"><img-->
<!--                            src="static/Resources/Img/ProductList-img/11_c26da38365074dacaf35d3c1537b4de9_large.png">-->
<!--                        <p>Brecken Boss Chair</p>-->
<!--                    </a>-->
<!--                        <p>$200.00</p>-->
<!--                    </li>-->
<!--                    <li><a href="/chair"><img-->
<!--                            src="static/Resources/Img/ProductList-img/12_10e5903ac0ac49e9a46c1659c6ee08e5_large.png">-->
<!--                        <p>Osaka Sofas</p>-->
<!--                    </a>-->
<!--                        <p>$200.00</p>-->
<!--                    </li>-->
<!--                    <li><a href="/chair"><img-->
<!--                            src="static/Resources/Img/ProductList-img/25_16bade2c2cba4a00ac587c484eb90f02_large.png">-->
<!--                        <p>Accent Seating Set</p>-->
<!--                    </a>-->
<!--                        <p>$80.00-$90.00</p>-->
<!--                    </li>-->
<!--                </ul>-->
                <img src="static/Resources/Img/ProductList-img/offer.jpg" style="width:100%;height: 100%;margin-top: 30px;">

            </ul>
        </div>
        <div id="thien-content">
            <div class="thien-sorting-by-bar">
                <div class="thien-sort-by" style="border-bottom:1px solid grey; padding-bottom: 10px;">
                    <h1>Products</h1>
                    Show <span class="vinh-result-name" th:text="${dem}">results</span> results
                    <!--            <div class="test">-->
                    <!--              <form action="/action_page.php">-->
                    <!--                <label for="sort">Sort by:</label>-->
                    <!--                <select name="sort" id="sort" style="padding: 5px;">-->
                    <!--&lt;!&ndash;                  <option value="Price: Best Match" >Best Match</option>&ndash;&gt;-->
                    <!--                  <option>Price: Low to High</option>-->
                    <!--                  <option value="Price: High to Low" >Price: High to Low</option>-->
                    <!--                  <option value="Customer Rating" >Customer Rating</option>-->
                    <!--                  <option value="Newest Arrivals" >Newest Arrivals</option>-->
                    <!--                </select>-->
                    <!--              </form>-->
                    <!--            </div>-->
                </div>
            </div>
            <div class="thien-main-list-wrapper">
                <div class="thien-product" th:each=" prd : ${list}">
                    <figure>
                        <a th:href="@{'/get_details/' + ${prd.id}}"><img
                                th:src="@{${prd.pathImage}}"></a>
                    </figure>
                    <a th:href="@{'/get_details/' + ${prd.id}}">
                        <p th:text="${prd.name}">Birmingham Low Sofas</p>
                    </a>
                    <p th:text="${prd.price}*1">$200.00</p>
                    <div class="thien-btn-wrapper">
                        <a th:href="@{'/get_details/' + ${prd.id}}" class="thien-btn-product"><i
                                class="bi bi-eye-fill"></i></a>
                        <a href="/cart" class="thien-btn-product-cart" style="padding:11px 14px; border: 1px solid; border-radius: 3px; margin-left: 4px"><i class="bi bi-cart4"></i></a>
                        <a href="/product_comparison" class="thien-btn-product"><i class="bi bi-shuffle"></i></a>
                        <a href="/wishlist" class="thien-btn-product-wish" style="padding:11px 14px; border: 1px solid; border-radius: 3px; margin-left: 4px"><i class="bi bi-heart-fill"></i></a>
                        <input type="hidden" th:id="proId" th:value="${prd.id}">
                        <!--                        <input type="submit" value="ADD" class="thien-btn-product"><i class="bi bi-cart4"></i>-->

                    </div>
                </div>

            </div>


            <div class="thien-pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">...</a>
                <a href="#">6</a>
                <a href="#"><i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="hong-scroll-top-btn" onclick="hongScrollTop()">
    <i class="fas fa-chevron-up"></i>
</div>
<div class="vinh-container-footer"></div>
<footer>
    <div class="ft-social vinh-info">
        <div class="ft-main-item">
            <h3 class="ft-title">About the company</h3>
            <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Affiliates</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Investor Ralations</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h3 class="ft-title">Customer Service</h3>
            <ul>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/faq">Help Center</a></li>
                <li><a href="#">Shopping Guide</a></li>
                <li><a href="#">Shipping</a></li>
                <li><a href="mailto:vinhtb.jp@gmail.com">Email us</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h3 class="ft-title">Site Terms</h3>
            <ul>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Terms of Sale</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Shop Glossary</a></li>
            </ul>
        </div>
        <div class="ft-main-item">
            <h3 class="ft-title">Newsletter Subcribe</h3>
            <p style="margin-top: 10px;">Get 5% OFF when you signup for<br>our email newsletter!</p>
            <div class="vinh-newsletter">
                <form>
                    <input class="vinh-newsletter-input" type="email" name="email">
                </form>
                <i class="bi bi-envelope"></i>
            </div>
        </div>
    </div>
    <div class="ft-social-container">
        <div class="ft-social vinh-sns">
            <span>&copy; 2021 Durable Furninure. All rights reserved</span>
            <div class="vinh-sns-links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tumblr"></i></a>
            </div>
        </div>
    </div>
</footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"
        integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/957c836d53.js" crossorigin="anonymous"></script>


<script>
    $('#search-bar .search-label').on('click', function (e) {
        e.preventDefault();
        $('#search-bar').toggleClass('collapsed');
    });

    function subMenuFunction() {
        document.getElementById('myDropdown').classList.add('vinh-show')
    }

    window.onclick = function (event) {
        if (!event.target.matches('.bi-list')) {
            var dropdowns = document.getElementsByClassName('vinh-sub-menu-dropdown');
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('vinh-show')) {
                    openDropdown.classList.remove('vinh-show');
                }
            }
        }
    }

    document.getElementById("myIcon").onclick = function () {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    };

    window.onscroll = function () {
        myFunction()
    };

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    hScrollTopBtn = document.getElementById("hong-scroll-top-btn");

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("vinh-sticky")
        } else {
            navbar.classList.remove("vinh-sticky");
        }

        if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
            hScrollTopBtn.style.display = "block";
        } else {
            hScrollTopBtn.style.display = "none";
        }
    }

    function hongScrollTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    };

    // add cart
    $('.thien-btn-product-cart').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        console.log(value);
        $.ajax({
            type: 'POST',
            url: '/addToCart2',
            data: {'pid': value},
            success: function (data){
                console.log(data);
                var result = $.trim(data);
                if(result==="ok"){
                    alert("Thêm vào giỏ hàng thành công!");
                }else{
                    alert("Vui lòng đăng nhập");
                }
            }
        });
    });

    // add wish
    $('.thien-btn-product-wish').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        console.log(value);
        $.ajax({
            type: 'POST',
            url: '/addWish',
            data: {'pid': value},
            success: function (data){
                if(data === 'ok'){
                    alert("Thêm yêu thích thành công!");
                }else{
                    alert("Vui lòng đăng nhập");
                }
            }
        });
    });
</script>
</body>

</html>