<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Wishlist | Durable Furniture</title>

    <link rel="icon" href="static/Resources/Img/header-footer-img/Logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="static/Resources/Plug-in/fontawesome5.15.1/css/all.min.css">

    <link rel="stylesheet" href="static/Resources/Plug-in/jqueryscript/aos.css">
    <link rel="stylesheet" href="static/css/home-page-media-min.css">
    <link rel="stylesheet" href="static/css/header-footer-min.css">
    <link rel="stylesheet" href="static/css/product-detail-media-min.css">
    <link rel="stylesheet" href="static/css/wishlist-min.css">
</head>

<body>

    <!-- Header & Nav -->

    <div class="vinh-container">
        <div class="vinh-free-shipping-container">
            <div class="vinh-free-shipping-wrap">
                <div class="vinh-free-shipping-item">
                    <span class="vinh-free-shipping-emp">free-shipping</span> for orders above $100!!!
                </div>
                <div class="vinh-free-shipping-item">
                    <span class="vinh-free-shipping-emp">free-shipping</span> on your first order!!!
                </div>
                <div class="vinh-free-shipping-item">
                    <span class="vinh-free-shipping-emp">call us</span> for more information 043-235-2561
                </div>
            </div>
            <div class="vinh-find-store">
                <a href="/find_store" style="color: white;">Find a store</a> <i class="bi bi-geo-alt"></i>
            </div>
        </div>
        <header>
            <div class="vinh-header-wrap" id="navbar">
                <div class="vinh-inner-container">
                    <div class="vinh-sub-menu">
                        <i id="myIcon" onclick="subMenuFunction()" class="bi bi-list" style="font-size: 150%;"></i>
                    </div>
                    <a href="/home"><img class="vinh-logo"
                            src="static/Resources/Img/header-footer-img/Dark Slate Grey Star Icon Business Logo web.png"></a>
                </div>
                <div class="vinh-inner-container vinh-menu">
                    <ul class="vinh-menu-list">
                        <li class="vinh-drop-down">
                            <a class="vinh-menu-style" href="/home">Home</a>
                        </li>
                        <li class="vinh-drop-down">
                            <a class="vinh-menu-style" href="/frato">Furniture</a>
                            <div class="vinh-drop-down-content vinh-furniture">
                                <div class="vinh-drop-down-item">
                                    <img src="static/Resources/Img/header-footer-img/hugo_noblanket_600x500.jpg">
                                    <h3>Living Room</h3>
                                    <ul>
                                        <li><a href="/frato">Sofas</a></li>
                                        <li><a href="/frato">Loveseats</a></li>
                                        <li><a href="/frato">Sectionals</a></li>
                                        <li><a href="/frato">Chairs & Chaises</a></li>
                                        <li><a href="/frato">Sofa Beds & Futons</a></li>
                                        <li><a href="/frato">Recliners</a></li>
                                        <li><a href="/frato">Ottoman & Benches</a></li>
                                        <li><a href="/frato">Cabinets & Etageres</a></li>
                                        <li><a href="/frato">Living Room Packages</a></li>
                                        <li><a href="/frato">3 Piece Sofa Set</a></li>
                                    </ul>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <img src="static/Resources/Img/header-footer-img/juneau_dining_horizontal_600x.jpg">
                                    <h3>Dining Room</h3>
                                    <ul>
                                        <li><a href="/frato">Dining Sets</a></li>
                                        <li><a href="/frato">Chairs</a></li>
                                        <li><a href="/frato">Benches</a></li>
                                        <li><a href="/frato">Counter & Bar Stools</a></li>
                                        <li><a href="/frato">Buffets & Sideboards</a></li>
                                        <li><a href="/frato">China Cabinets & Curious</a></li>
                                        <li><a href="/frato">Bars</a></li>
                                        <li><a href="/frato">Modern Dining</a></li>
                                        <li><a href="/frato">Custom Designed Table</a></li>
                                        <li><a href="/frato">6 Seater Dining</a></li>
                                    </ul>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <img src="static/Resources/Img/header-footer-img/juneau_bed_v1_600x.jpg">
                                    <h3>Bed Room</h3>
                                    <ul>
                                        <li><a href="/frato">King Beds</a></li>
                                        <li><a href="/frato">Queen Beds</a></li>
                                        <li><a href="/frato">Full Beds</a></li>
                                        <li><a href="/frato">Daybeds & Futons</a></li>
                                        <li><a href="/frato">Headboards & Frames</a></li>
                                        <li><a href="/frato">Dressers & Chests</a></li>
                                        <li><a href="/frato">Mirros</a></li>
                                        <li><a href="/frato">Nightstands</a></li>
                                        <li><a href="/frato">Armoires</a></li>
                                        <li><a href="/frato">Bedroom Sets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="vinh-drop-down">
                            <a class="vinh-menu-style" href="/brand">Brands</a>
                            <div class="vinh-drop-down-content vinh-brand">
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Essential Home</a>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Frato</a>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Koket</a>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Erado</a>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Bentley Home</a>
                                </div>
                                <div class="vinh-drop-down-item">
                                    <a href="/brand">Capellini</a>
                                </div>
                            </div>
                        </li>
                        <li class="vinh-drop-down">
                            <a class="vinh-menu-style" href="/blog">Blog</a>
                        </li>
                        <li class="vinh-drop-down">
                            <a class="vinh-menu-style" href="/contact-us">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="vinh-inner-container">
                    <ul class="vinh-icon-list">
                        <li id="search-bar" class="collapsed">
                            <div id="search-box">
                                <div id="sliding-panel-outer">
                                    <form th:action="@{/search}" method="get">
                                        <div id="sliding-panel-inner">
                                            <input type="text" id="search-input" th:value="${str}"
                                                   placeholder="Search..." name="str" required/>
                                            <button type="submit"></button>
                                        </div>
                                    </form>
                                    <!--#sliding-panel-inner-->
                                </div>
                                <!--#sliding-panel-outer-->

                                <div class="search-label">
                                    <i id="search-one" class="bi bi-search"></i>
                                </div>
                            </div>
                            <!--#search-box-->
                        </li>
                        <!--#searchbar-->
                        <li>
                            <a href="/wishlist"><i class="bi bi-heart"></i></a>
                        </li>
                        <li class="vinh-cart" style="position: relative;">
                            <a href="/cart"><i class="bi bi-cart3"></i></a>
                            <div class="vinh-cart-drop-down">
                                <p>Your shopping cart (2 items)</p>
                                <div style="margin: 15px 0;">
                                    <div class="vinh-cart-item">
                                        <figure class="vinh-promo-pic">
                                            <img class="vinh-pic"
                                                src="static/Resources/Img/product-cart-wish-img/frato-metal-classic-out-door-dining-chair-(1).jpg" />
                                        </figure>
                                        <span>Frato Metal Classic Out Door Dining Chair</span>
                                        <span>1 x $83.00</span>
                                        <i class="bi bi-x-circle"></i>
                                    </div>
                                    <div class="vinh-cart-item">
                                        <figure class="vinh-promo-pic">
                                            <img class="vinh-pic"
                                                src="static/Resources/Img/product-cart-wish-img/rattan-modern-dining-chair-(13).jpg" />
                                        </figure>
                                        <span>Frato Rattan Modern Dining Chair</span>
                                        <span>1 x $38.00</span>
                                        <i class="bi bi-x-circle"></i>
                                    </div>
                                    <div class="subtotal">
                                        <p>Cart Subtotal:</p>
                                        <p>$121.00</p>
                                    </div>
                                </div>

                                <div style="display: flex; justify-content: space-between;">
                                    <a class="vinh-button" href="/cart">View Cart</a>
                                    <a class="vinh-button" href="/checkout">Check Out</a>
                                </div>
                            </div>
                        </li>
                        <li><a href="/login">Log in</a></li>
                    </ul>
                </div>
            </div>
            <div id="myDropdown" class="vinh-sub-menu-dropdown">
                <ul>
                    <li><a href="/home" style="color:#6CB975 !important">home</a></li>
                    <li><a href="/frato">furniture</a></li>
                    <li><a href="/brand">brand</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/contact-us">contact</a></li>
                    <li>
                        <input class="vinh-sub-menu-search" type="text" placeholder="Search...">
                        <button class="vinh-search-button" type="submit">Search</button>
                    </li>
                </ul>
            </div>
        </header>
        <!-- Header & Nav end -->

        <div class="wishlist-banner">
            <h1>Wishlist</h1>
        </div>
        <div class="hong-container">
            <div class="container-fluid">
                <form class="wishlist-form" action="#" method="post">
                    <div class="wishlist-table">
                        <div class="row hong-thead">
                            <div class="product-remove col-1"></div>
                            <div class="product-thumbnail col-2"></div>
                            <div class="product-name col-3">Product</div>
                            <div class="product-price col-1">Price</div>
                            <div class="product-add-cart col-3">Add cart</div>
                            <div class="product-available col-2">Available</div>
                        </div>
                        <div class="row .product-line hong-tr" th:each="wish : ${wishlistDTO}">
                            <div class="product-remove col-1">
                                <input th:id="myProId" th:type="hidden" th:value="${wish.getId()}">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="product-thumbnail col-2">
                                <a href="/chair">
                                    <img th:src="@{${wish.getImage()}}" />
                                </a>
                            </div>
                            <div class="product-name col-3">
                                <a href="/chair" th:text="${wish.getName()}"></a>
                            </div>
                            <div class="product-price col-1">
                                <span class="Price-amount amount">
                                    <span class="Price-currencySymbol" th:text="${wish.getPrice()} * 1">$</span>
                                </span>
                            </div>
                            <div class="product-add-cart col-3">
                                <button type="submit" name="add-to-cart" class="thien-btn-product-cart">
                                    <i class="fa fa-shopping-cart"></i> Add To Cart
                                </button>
                                <input type="hidden" th:id="proId" th:value="${wish.getId()}">
                            </div>
                            <div class="product-available col-2">
                                <span class="product-stock">
                                    <span class="in-stock" th:text="${wish.getQuantity()}">7</span>&nbsp;in stock
                                </span>
                            </div>
                        </div>
<!--                        <div class="row .product-line hong-tr">-->
<!--                            <div class="product-remove col-1">-->
<!--                                <i class="fas fa-times"></i>-->
<!--                            </div>-->
<!--                            <div class="product-thumbnail col-2">-->
<!--                                <a href="/chair">-->
<!--                                    <img src="static/Resources/Img/product-cart-wish-img/bench-dining-chair.jpg" />-->
<!--                                </a>-->
<!--                            </div>-->
<!--                            <div class="product-name col-3">-->
<!--                                <a href="/chair">Frato Metal Bench Dining-->
<!--                                    Chair</a>-->
<!--                            </div>-->
<!--                            <div class="product-price col-1">-->
<!--                                <span class="Price-amount amount">-->
<!--                                    <span class="Price-currencySymbol">$</span>115.00-->
<!--                                </span>-->
<!--                            </div>-->
<!--                            <div class="product-add-cart col-3">-->
<!--                                <button type="submit" name="add-to-cart" class="add-to-cart-button btn">-->
<!--                                    <i class="fa fa-shopping-cart"></i> Add To Cart-->
<!--                                </button>-->
<!--                            </div>-->
<!--                            <div class="product-available col-2">-->
<!--                                <span class="product-stock">-->
<!--                                    <span class="in-stock">10</span>&nbsp;in stock-->
<!--                                </span>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </form>
            </div>
            <div class="wishlist-suggested product-suggested container-fluid">
                <div class="suggested-title">
                    <h3>More Products</h3>
                </div>
                <div class="row products">
                    <div class="product" data-aos="fade-up" data-aos-duration="3000">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/lacquer-dining-chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Erado Coating Oval Dining
                                    Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>63.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/plastic-dining-side-chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Erado Plastic Net Dining
                                    Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>37.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div style="display: block !important;" class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up" data-aos-duration="3000">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span style="display: block" class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/Coko-Velvet-Dining-Armchair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Coko Velvet Dining Armchair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del style="display: block">
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>59.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/Coko-Garden-Cushion-Chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Coko Garden Cushion Dining
                                    Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>83.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div style="display: block !important;" class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row products">
                    <div class="product" data-aos="fade-up" data-aos-duration="3000">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span style="display: block" class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/rattan-modern-dining-chair-(13).jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Frato Rattan Modern Dining
                                    Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del style="display: inline">
                                        <span class="Price-amount amount active">
                                            <span class="Price-currencySymbol">$</span>95.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>75.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/natural-bamboo-dining-chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Frato Bamboo Kid Dining
                                    Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>25.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up" data-aos-duration="3000">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/Selfan-Indigo-Wooden-Chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Selfan Indigo Wooden Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>39.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                    <div class="product" data-aos="fade-up">
                        <figure>
                            <div class="icons">
                                <a href="/cart" class="btn add-to-cart-button">
                                    <i class="fas fa-shopping-cart"></i>
                                </a>
                                <a href="#" style="display:none" class="btn affiliate-product">
                                    <i class="fas fa-link"></i>
                                </a>
                                <a href="#" style="display:none; transform: rotate(90deg)" class="btn option">
                                    <i class="fas fa-sliders-h"></i>
                                </a>
                                <a href="/wishlist" class="btn add-to-wish-list-button">
                                    <i class="far fa-heart"></i>
                                </a>
                                <a href="/product_comparison" class="btn compare-product">
                                    <i class="fas fa-random"></i>
                                </a>
                                <a href="#" class="btn view-product">
                                    <i class="far fa-eye"></i>
                                </a>
                            </div>
                            <div class="product-wrapper">
                                <a href="/chair">
                                    <span class="onsale">Sale!</span>
                                    <div class="thumb-wrap">
                                        <div class="product-img">
                                            <img alt="Product suggested"
                                                src="static/Resources/Img/product-cart-wish-img/Selfan-Rattan-Folding-Chair.jpg">
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </figure>
                        <div class="caption">
                            <h6 class="loop-product-title">
                                <a href="/chair">Selfan Rattan Folding Chair</a>
                            </h6>
                            <div class="price-box">
                                <span class="price">
                                    <del>
                                        <span class="Price-amount amount">
                                            <span class="Price-currencySymbol">$</span>100.00
                                        </span>
                                    </del>
                                    <ins><span class="Price-amount amount">
                                            <span class="Price-currencySymbol">&nbsp;$</span>32.00
                                        </span></ins>
                                </span>
                            </div>
                        </div>
                        <div style="display: block !important;" class="product-rating">
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span class="chosen"><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hong-container">
            <div class="row">
                <div class="para-box-one" data-aos="flip-left">
                    <h1>Wish to see!</h1>
                </div>
                <div class="para-box-two" data-aos="flip-right">
                    <h1>Wish to have!</h1>
                </div>
            </div>
        </div>

        <!-- Footer -->

        <div class="vinh-container">
            <div id="hong-scroll-top-btn" onclick="hongScrollTop()">
                <i class="fas fa-chevron-up"></i>
            </div>

            <div class="vinh-container-footer"></div>
            <footer>
                <div class="ft-social vinh-info">
                    <div class="ft-main-item">
                        <h3 class="ft-title">About the company</h3>
                        <ul>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Press</a></li>
                            <li><a href="#">Investor Ralations</a></li>
                        </ul>
                    </div>
                    <div class="ft-main-item">
                        <h3 class="ft-title">Customer Service</h3>
                        <ul>
                            <li><a href="/faq">FAQ</a></li>
                            <li><a href="/faq">Help Center</a></li>
                            <li><a href="#">Shopping Guide</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="mailto:vinhtb.jp@gmail.com">Email us</a></li>
                        </ul>
                    </div>
                    <div class="ft-main-item">
                        <h3 class="ft-title">Site Terms</h3>
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Terms of Sale</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Shop Glossary</a></li>
                        </ul>
                    </div>
                    <div class="ft-main-item">
                        <h3 class="ft-title">Newsletter Subcribe</h3>
                        <p style="margin-top: 10px;">Get 5% OFF when you signup for<br>our email newsletter!</p>
                        <div class="vinh-newsletter">
                            <form>
                                <input class="vinh-newsletter-input" type="email" name="email">
                            </form>
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                </div>
                <div class="ft-social-container">
                    <div class="ft-social vinh-sns">
                        <span>&copy; 2021 Durable Furniture. All rights reserved</span>
                        <div class="vinh-sns-links">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-tumblr"></i></a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Vinh scripts -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"
        integrity="sha256-Ap4KLoCf1rXb52q+i3p0k2vjBsmownyBTE1EqlRiMwA=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/957c836d53.js" crossorigin="anonymous"></script>

    <script>
        $('#search-bar .search-label').on('click', function (e) {
            e.preventDefault();
            $('#search-bar').toggleClass('collapsed');
        });

        function subMenuFunction() {
            document.getElementById('myDropdown').classList.add('vinh-show')
        }

        window.onclick = function (event) {
            if (!event.target.matches('.bi-list')) {
                var dropdowns = document.getElementsByClassName('vinh-sub-menu-dropdown');
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('vinh-show')) {
                        openDropdown.classList.remove('vinh-show');
                    }
                }
            }
        }

        document.getElementById("myIcon").onclick = function () {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        };

        window.onscroll = function () {
            myFunction()
        };

        var navbar = document.getElementById("navbar");
        var sticky = navbar.offsetTop;

        hScrollTopBtn = document.getElementById("hong-scroll-top-btn");

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("vinh-sticky")
            } else {
                navbar.classList.remove("vinh-sticky");
            }

            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                hScrollTopBtn.style.display = "block";
            } else {
                hScrollTopBtn.style.display = "none";
            }
        }

        function hongScrollTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        };
    </script>

    <!-- Page scripts -->

    <script src="static/Resources/Plug-in/jquery3.5.1/jquery-3.5.1.js"></script>
    <script src="static/Resources/Plug-in/jqueryscript/aos.js"></script>
    <script>
        //aos

        AOS.init({
            duration: 1500,
        })

        // Remove item

        $('.product-remove i').on('click', function () {
            var proId = $(this).closest('div').find('input').val();
            console.log(proId);
            $.ajax({
                type: 'post',
                url: '/deleteOneWish',
                data: {'pid': proId}
            });
            $(this).closest('.hong-tr').remove();
        });

        // add cart
        $('.thien-btn-product-cart').on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            var $input = $this.closest('div').find('input');
            var value = parseInt($input.val());

            console.log(value);
            $.ajax({
                type: 'POST',
                url: '/addToCart2',
                data: {'pid': value},
                success: alert("Thêm vào giỏ hàng thành công!")
            });
        });
    </script>
</body>

</html>