# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# GoLand
.idea
.idea/.gitignore
.idea/.dataSources.xml
.idea/DATN.iml
.idea/modules.xml
.idea/vcs.xml